@model PaginatedList<Eternal.Models.Deck>

<div class="decks-vm">
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }

    <button style="float:left;" class="btn btn-default" onclick="changePage(@(Model.PageIndex - 1), '@ViewData["SearchFilter"]', '@ViewData["FactionFilter"]', '@ViewData["UserFilter"]')" @prevDisabled>
        Previous
    </button>

    <button style="float:right;" class="btn btn-default" onclick="changePage(@(Model.PageIndex + 1), '@ViewData["SearchFilter"]', '@ViewData["FactionFilter"]', '@ViewData["UserFilter"]')" @nextDisabled>
        Next
    </button>

    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Factions
                    </th>
                    <th>
                        Rating
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var deck in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Details" asp-route-id="@deck.DeckID" style="font-size:medium;">@deck.Name</a>
                            <p style="font-size:smaller;">by <a id="@deck.User.Username;@ViewData["SearchFilter"];@ViewData["FactionFilter"]" class="user-search-link" href="#">@deck.User.Username</a></p>
                        </td>
                        <td id="factions">
                            @{
                                var factions = Newtonsoft.Json.JsonConvert.DeserializeObject<List<string>>(deck.Factions);
                                foreach (var faction in factions)
                                {
                                    <span>@faction </span>
                                }
                            }
                        </td>
                        <td>
                            @if (deck.Rating > 0)
                            {
                                <span style="color:green;">@deck.Rating</span>
                            }
                            else if (deck.Rating < 0)
                            {
                                <span style="color:red;">@(deck.Rating * -1)</span>
                            }
                            else
                            {
                                @deck.Rating
                            }
                        </td>
                        <td>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>